# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Environment / IDE files
.env
.vscode/
.idea/

# Git files
.git/
.gitignore

# Docker files
Dockerfile
docker-compose.yml

# Misc
*.log
