# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
*.manifest
*.spec

# Virtual environment
venv/
ENV/
.venv/

# Environment variables
.env

# IDE / Editor
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
